<div class="App">
  <div class ="title">
    The Bridge
  </div>
  <header >
    <img src="../assets/group.jpg" width="100%" class="App-img" alt="logo" />
    <p class ="title">
      Discover Our Courses

      <button class ="btn btn-cercle" >view more</button>
    </p>
    <div class="courses">
      <div>
        <img class="imgCourses" src="../assets/spring.jpg" alt="">
        <h2>Spring Boot / Angular</h2><br>
        <h3 class="price">350 DT/Month</h3>
      </div>
      <div>
        <img class="imgCourses" src="../assets/spring.jpg" alt="">
        <h2>Spring Boot / Angular</h2><br>
        <h3 class="price">350 DT/Month</h3>
      </div>
      <div>
        <img class="imgCourses" src="../assets/spring.jpg" alt="">
        <h2>Spring Boot / Angular</h2><br>
        <h3 class="price">350 DT/Month</h3>
      </div>
      <div>
        <img class="imgCourses" src="../assets/spring.jpg" alt="">
        <h2>Spring Boot / Angular</h2><br>
        <h3 class="price">350 DT/Month</h3>
      </div>
    </div>
  </header>
  <footer class="footer">
    <div class="title1" >contact us</div>
    <div class="text">
      NAME
    </div>
      <div>
        <input class="input"/>
      </div>
    <div class="text">
      EMAIL
    </div>
      <div>
        <input class="input"/>
      </div>
    <div class="text" >
      MESSAGE
    </div>
    <div>
      <input class="input input1" placeholder="Write your message here"/>
    </div>
    <br>
    <button class="btn1">Send the message</button>
    <br>
  </footer>
</div>
