<div class="App">
  <div class ="title">
    The Bridge
  </div>
  <header >
    <div>
      <img src="../assets/group.jpg" width="100%" class="App-img" alt="logo"/>
      <p class="upimg">Improve your skills in your own To prepare for a better future
        <button class ="btn2 btn-cercle1">REGISTER NOW</button>
      </p>
    </div>
    <p class ="title2" >
      Discover Our Courses

      <button class ="btn btn-cercle" routerLink="listCourses" >view more</button>
    </p>
   <router-outlet></router-outlet>
  </header>
  <footer class="footer">
    <div class="title1" >Contact Us</div>
    <div class="text">
      NAME
    </div>
      <div>
        <input class="input"/>
      </div>
    <div class="text">
      EMAIL
    </div>
      <div>
        <input class="input"/>
      </div>
    <div class="text" >
      MESSAGE
    </div>
    <div>
      <input class="input input1" placeholder="Write your message here"/>
    </div>
    <br>
    <button class="btn1">Send the message</button>
    <br>
  </footer>
</div>
