                <div class="courses">
                  <div  *ngFor="let l of list">
                    <img class="imgCourses" src="../assets/spring.jpg" alt="">
                    <h2>{{l.title}}</h2><br>
                    <h3 class="price">{{l.price}} DT/Month</h3>
                  </div>
                  <!-- <button type="button" style="margin-right: 20px;" (click)="deletCours(l.idCourse)" class="btn btn-danger" data-toggle="modal" data-target="#danger-alert-modal">Delete</button>
                    <a [routerLink]="['update',l.idCourse]" class="btn waves-effect waves-light btn-warning">
                     Edit</a> -->
                </div>


                    <!-- <a [routerLink]="['add']">Ajouter Cours</a> -->



